body {
	background-color: #21272b;
}

h3{
    color: #00a186;
    text-align: center
}

/*navbar*/

.navbar-header {
	height: 10vh;
	background-color: #00a186;
}

.logo {
	margin-top: 1vh;
	height: 8vh;
	margin-left: 5vh;
}

.navbar-default > .navbar-header > .navbar-toggle {
	border-color: #14191c;
}

.navbar-default .navbar-nav > li > a {
	background-color: #00a186;
	color: #14191c;
	margin-left: 5vh;
}

.navbar-default > .navbar-toggle > .icon-bar {
	background-color: #14191c;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
	margin-right: -28px;
	margin-left: -28px;
}

.page-header {
	color: #00a186;
}

.gsc-control-cse {
	font-family: Arial, sans-serif;
	border-color: #14191c;
	background-color: #14191c;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

#myCarousel {
	background: #2f4357;
	margin-top: 20px;
}

.carousel-inner {
	height: 30vh;
}

.carousel-inner img {
	width: 100%;
}

.bs-example {
	margin: 20px;
}

.foro {
	margin: 1px solid black;
}

.modal {
	margin-top: 35vh;
	margin-right: 1vh;
}

#write{
  background-color:#fff;

}

#sendComments{
	background-color:#00a186;
}
